<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <style>
        .box {
            display: none;
            width: auto;
            height: auto;
            background: #FFFFDF;
            border: 1px solid #333;
            padding: 12px;
            text-align: left;
            position: relative;
            overflow: auto;
        }
    </style>
    <script type="text/javascript" language="javascript">
        function display() {
            document.getElementById("box").style.display = "block";
        }

        function disappear() {
            document.getElementById("box").style.display = "none";
        }
    </script>

</head>
<body>
<a href="#" onmouseover="display()" onmouseout="disappear()">鼠标放到这儿！</a>
<div id="box" class="box">效果不错吧？这里面你可以设置一张图片，也可以是一段文字，而且源代码很简单哦！</div>


</body>
</html>